/* FONTS */

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON SHARED CLASSES */
.btn {
    border-radius: 10px;
    padding: 12px 36px;

    background-color: #4E47FF;
}

.btn-a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;

    text-decoration: none;
}


/* GENERAL STYLES */
body {}

/* HEADER SECTION STYLES */
.header-section {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 70vh;
}

.header-section nav {
    max-width: 1140px;
    margin: 0 auto;
    min-height: 150px;
    height: 150px;

    padding: 50px 0px;
}

.nav-container {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-title {
    color: #4E47FF;

    font-weight: 900;
    font-size: 2.125rem;
    text-transform: uppercase;
}

.nav-container a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;

    text-decoration: none;
}

.nav-container .nav-btn {
    width: 132px;
    /* height: 148px; */
}

.hero-section {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.hero-section .hero-title {
    color: #252432;
    font-weight: 700;
    font-size: 4.063rem;

    margin-top: 160px;
}

.hero-section .hero-btn {
    display: inline-block;
    width: 174px;
    height: 48px;

    margin-top: 40px;
    margin-bottom: 150px;
}

/* ACTION SECTION STYLES */
.action-section {
    max-width: 1140px;
    min-height: 328px;

    margin: 116px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-content-container {
    max-width: 517px;
    margin: 0 auto;

    padding: 60px 0px;
}

.action-content-container .action-title {
    font-weight: 700;
    font-size: 2.625rem;

    color: #252432;
    text-transform: capitalize;

    margin-bottom: 23px;
}

.action-content-container .action-description {
    font-weight: 400;
    font-size: 1.5rem;

    color: #25243280;

    margin-bottom: 23px;
    padding: 0px 50px 0px 0px;
}

.action-content-container .action-btn {
    display: inline-block;
    width: 230px;
    height: 48px;
}

.action-img-container img {
    display: block;
    border-radius: 48px;
}


/* <!-- JOINED SECTION STYLES--> */
.joined-section {
    max-width: 1140px;
    margin: 130px auto;
    min-height: 300px;

    border-radius: 24px;
    padding: 50px 80px;
    background-color: #4E47FF1A;
}

.joined-section .joined-title {
    font-size: 2.375rem;
    font-weight: 700;

    color: #252432;
    margin: 40px 0px;

    text-align: center;
}

.num-info-typography {
    color: #4E47FF;
    font-size: 5rem;
    font-weight: 700;
}

.num-description-typography {
    color: #00000080;
    font-size: 1.25rem;
    font-weight: 400;
}

.joined-section .joined-number-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;


    margin-bottom: 50px;
}

/* REVIEW SECTION STYLES */
.review-section {
    max-width: 1140px;
    margin: 130px auto;
    min-height: 340px;
}

.review-section .review-title {
    font-weight: 700;
    font-size: 2.625rem;
    text-align: center;
    color: #252432;

    margin-bottom: 50px;
}

.review-section .reviews-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviews-container .review {
    max-width: 360px;
    min-height: 240px;

    border-radius: 14px;
    border: 1px solid #F2EDED;
    padding: 20px;

    background-color: #FFFFFF80;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.review .review-stars {
    max-width: 115px;
    min-height: 20px;

    margin-bottom: 24px;
}

.review .review-stars img {
    width: 100%;
}

.review .review-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #252432;
    text-align: start;

    margin-bottom: 8px;
}

.review .review-description {
    font-weight: 400;
    font-size: 1rem;
    color: #1E1E1E;

    margin-bottom: 24px;
    padding-right: 20px;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-container .user-img {
    max-width: 40px;
    min-height: 40px;
    border-radius: 50px;
}

.user-container .user-img img {
    border-radius: 20px;
}

.user-container .reviewer-name {
    color: #848484;
    font-weight: 500;
    font-size: 1rem;

    margin-bottom: 2px;
}

.user-container .reviewer-date {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 1rem;

    margin-bottom: 2px;
}




/* ======================= */
/* RESPONSIVE STYLES */
/* ======================= */
/* DESKTOP+ */
@media (max-width: 1280px) {}

/* TABLET */
@media (max-width: 1024px) {

    /* HEADER */
    .header-section nav {
        padding: 0px 10px;
    }

    /* ACTION */
    .action-section {
        padding: 0px 10px;
    }

    /* REVIEW */
    .review-section .reviews-container {
        gap: 10px;
        padding: 0 10px;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    /* HEADER */
    .hero-section .hero-title {
        font-size: 2.5rem;
        margin-top: 160px;
    }

    /* ACTION */
    .action-content-container {
        text-align: center;
        flex: 1;
    }

    .action-img-container {
        max-width: 403px;
        min-height: 328px;
    }

    .action-img-container img {
        width: 100%;
    }

    /* REVIEW */
    .review-section .reviews-container {
        flex-wrap: wrap;
    }

}

/* SMALL MOBILE */
@media (max-width: 480px) {

    /* HEADER */
    .hero-section .hero-title {
        font-size: 1.8rem;
    }

    /* ACTION */
    .action-content-container .action-title {
        font-size: 1.8rem;
    }

    .action-content-container .action-description {

        font-size: 1rem;
    }

    .action-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .action-img-container {
        max-width: 403px;
        min-height: 328px;
    }

    .action-img-container img {
        width: 100%;
    }

    /* JOINED */
    .joined-section {
        min-height: 300px;
        border-radius: 24px;
        padding: 10px 10px;
        background-color: #4E47FF1A;
    }

    .joined-section .joined-number-info-container {
        text-align: center;
        flex-direction: column;
    }

    .joined-section .joined-title {
        font-size: 2rem;
        font-weight: 700;
        color: #252432;
        margin: 40px 0px;
        text-align: center;
    }

    /* REVIEW */
    .review-section .reviews-container {
        flex-direction: column;
    }

    .reviews-container .review {
        margin-bottom: 10px;
    }

}